html{
    scroll-behavior: smooth;
    scroll-padding-top: 6vh;
}

.title-head{
    margin-bottom: 0.5rem;
    line-height: 1.7;
    font-weight: 550;
    font-family: "HKGrotesk", Arial, sans-serif;
    color: #4A4A4A;
}

.v-btn__content{
    font-weight: 600;
    font-family: "HKGrotesk", Arial, sans-serif !important;
}
.v-application .headline{
    font-family: "HKGrotesk", Arial, sans-serif !important;
}
.subtitle-head{
    margin-bottom: 2rem;
}
.v-application p{
    font-size: 15px;
    font-family: "CrimsonText", "Times New Roman", serif !important;
}

.v-application .body-1{
    font-family: "CrimsonText", "Times New Roman", serif !important;
}

.v-application .display-1{
    font-family: "HKGrotesk", Arial, sans-serif !important;
}

.section-story{
    max-width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.no-padding{
    padding: 0;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "HKGrotesk", Arial, sans-serif;
    color: #4A4A4A;
    font-size: 14px;
}